/* Shadow under navbar J.M. */
nav {
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, .2);
}

/* Shadow under navbar J.M END */

/* Font size for Menu text on navbar menu pop-up J.M. */
#offcanvasNavbarLabel {
  font-size: 40px;
  /* Font size for Menu text on navbar menu pop-up J.M. END */
}

/* pop-up Menu back background color transparent white J.M. */
#offcanvasNavbar.offcanvas.offcanvas-end.show {
  background-color: rgba(255, 255, 255, 0.775);
}

/* pop-up Menu back background color transparent white J.M. END */



/* * {
  box-sizing: border-box;
} */

.column-imagesjm {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row-imagesjm {
  content: "";
  clear: both;
  display: table;
}

/* Kendalls CSS */
.containerK {
  background-color: rgba(190, 0, 0, 1);
  border: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.hamvid {
  height: 100px;

}

.grid {
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: auto;
  list-style: none;
  text-align: center;
  align-content: flex-start;
  display: inline-flex;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: auto;
  max-width: auto;
  max-height: auto;
  width: 100%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: inline-flex;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 3.75em;
  background: #fff;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

figure.effect-zoe h2 {
  float: left;
}

figure.effect-zoe p.icon-links a {
  float: right;
  color: #3c4a50;
  font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
  color: #252d31;
}

figure.effect-zoe p.description {
  position: absolute;
  bottom: 8em;
  padding: 2em;
  color: #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: (Mac);
  /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

figure.effect-zoe p.icon-links a span::before {
  display: inline-block;
  padding: 8px 10px;
  font-family: 'feathericons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
  content: '\e000';
}

.icon-paper-clip::before {
  content: '\e001';
}

.icon-heart::before {
  content: '\e024';
}

figure.effect-zoe h2 {
  display: inline-block;
}

figure.effect-zoe:hover p.description {
  opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-zoe:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* End of Kendalls CSS */
body {
  /* background-color: #BE0000 !important; */
}

/* Footer Start */

footer .row {
  margin-left: 0px;
  margin-right: 0px;
}

.containerFooter {
  max-width: 100%;
}

.icons {
  padding-right: 175px;
}

.fa-brands {
  padding: 10px;
  font-size: 35px;
  width: 35px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram:before {
  display: inline-block;
  text-decoration: none;
  color: white
}

.fa-facebook-f:before {
  display: inline-block;
  text-decoration: none;
  color: white
}

.fa-twitter:before {
  display: inline-block;
  text-decoration: none;
  color: white
}

.row-md-12 .mini-logo .img {
  max-width: 250px;
  height: auto;
}

.mini-logo {
  padding-right: 125px;
}

.cust-srv {
  position: relative;
  width: 250px;
  font-size: 22px;
  margin-bottom: 60px;
}

.cust {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
}

.red-foot {
  background-color: #BE0000;
  height: 60px;
  padding-top: 10px;
  font-size: 1.5rem;
}

/* Footer End */

/* Checkout Start */

.rowCO {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.containerCO {
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 15px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #BE0000;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
  font-size: 17px;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }

  .col-25 {
    margin-bottom: 20px;
  }
}

/* Checkout End */

/* Restaurant base layout start -DD */

.rest-Content {
  overflow: visible;
  border: 1px black;
  margin: 0;
  margin-top: 50px;
  position: relative;
}

.restaurantHeader{
  position: inherit;
  overflow: auto;
  max-width: 100%;
  height: 400px;
  background-position: center;
  background-size: 70% 150%;
  background-repeat: no-repeat;
  text-align: center;
}

/* header image for american food, just change the background image */
.aFoodBG{
  background-image: url(/img/American\ Food.jpg);
}

/* header image for italian food, just change the background image */
.iFoodBG{
  background-image: url(/img/Italian\ Food.jpg);
}

/* header image for mexican food, just change the background image */
.mFoodBG{
  background-image: url(/img/Mexican\ Food.jpg);
}

.restNameText{
  background-color: rgba(150, 150, 150, .7);
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 10px -10px 20px rgba(0, 0, 0, 1);
  text-shadow: 3px -2px 4px rgba(50, 50, 50, 0.5);
  color: black;
  font-size: xx-large;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: auto;
}

.foodDisplay{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  width: 100%;
}

.foodItem{
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  width: 200px;
  height: auto;
  padding: 0p;
  overflow: hidden;
}

/* Restaurant base layout end -DD */